.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.container div {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.container div:hover {
    transform: scale(1.1);
}

.container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.display img {
    /* width: 40%; */
    height: auto;
    max-height: 50vh;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
